<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}


<center><h1>About Us:</h1></center>

<div class="container">
    <div class="row">
        <div class="col">
            <center><h3>Darius Lam</h3>
                <p>Darius is a Senior at Oakland Tech. He is in the computer science academy and a member of the Tech track and mountain biking teams.</p>
                <img src="static/Darius.jpg" alt="error" height="200" width="340">
            </center>
        </div>
        <div class="col">
            <center><h3>Eamon Ryan</h3>
                <p>Eamon is cool</p>
            </center>
        </div>
        <center>
            <h4>Our Mission</h4>
            <p>We made this website to gather information and personal experiences from the Oakland Tech community. Our goal is to share these stories, and give feedback about Oakland Tech to hopefully see things improve.</p>
        </center>
    </div>
</div>

{% endblock %}