<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}


<center><h1>About Us:</h1></center>

<div class="container">
    <div class="row">
        <div class="col">
            <center><h3>Darius Lam</h3>
                <p>Darius is cool</p>
                <img src="static/Darius.jpg" alt="error" height="200" width="333">
            </center>
        </div>
        <div class="col">
            <center><h3>Eamon Ryan</h3>
                <p>Eamon is cool</p>
            </center>
        </div>
        <center>
            <h4>Our Mission</h4>
            <p>We want to do stuff</p>
        </center>
    </div>
</div>

{% endblock %}