{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <center>
                <img class="bg-white" id="ousdlogo" src="static/OUSDlogo.png" alt="" style="padding: 20px; border-radius:20px;">
                <h3>This is a space for students to share their experiences with Oakland Technical High School and hear from other members of the community. We have interviews with students and teachers in our community. Students can also take our survey and answer questions that can provide constructive feedback for our school. </h3>
            </center>
        </div>
        <div class="col">
            <center>
                <img src="static/OaklandTechLarge.jpg" alt="error" height="175" width="500">
                <h3>We finna put more text here talking about stuff.</h3>
                
            </center>
        </div>
    </div>
</div>

{% endblock %}