{% extends 'base.html' %}

{% block body %}

<h1>Oakland Technical High School</h1>
<img class="bg-white" id="ousdlogo" src="static/OUSDlogo.png" alt="" style="padding: 20px; border-radius:20px;">
<h3>This is a space for students to share their experiences with Oakland Technical High School and hear from other members of the community. We have interviews with students and teachers in our community. Students can also take our survey and answer questions that can provide constructive feedback for our school. </h3>


<img src="\static\OaklandTechLarge.jpg">

<img src="\static\bdog.jpg">
{% endblock %}