{% extends 'base.html' %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col">
            <center>
                <img class="bg-white" id="ousdlogo" src="static/OUSDlogo.png" alt="" style="padding: 20px; border-radius:20px;">
                <h3>This is a space for students to share their experiences with Oakland Technical High School and hear from other members of the community. Students can also take our survey and answer questions that can provide constructive feedback for our school. </h3>
            </center>
        </div>
        <div class="col">
            <center>
                <img src="static/OaklandTechLarge.jpg" alt="error" height="175" width="500" style=border-radius:30px;>
                <h3>You can also access our documentary where we have interviews of members of the Oakland Tech community.</h3>
                
            </center>
        </div>
    </div>
</div>

{% endblock %}