
{% extends "base.html" %}

{% block body %}
        <h1>Form Page Title</h1>

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}
            
            Name(optional)<br>
            {{ form.Quest1(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.Quest1.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>

            What would you say is your favorite part of being at this school?<br>
            {{ form.Quest2(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.Quest2.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>

            How do you feel about the facilities at Oakland Tech? Do they have everything you need?<br>
            {{ form.Quest3(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.Quest3.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>

            Has the communication from Tech been good or bad? Explain<br>
            {{ form.Quest4(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.Quest4.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>

            How should we prioritize our school budget for Oakland Tech?<br>
            {{ form.Quest5(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.Quest5.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

            <br>

            What is something at other schools that you would like to see at Oakland Tech?<br>
            {{ form.Quest6(size=64) }}
            <!--List the errors for this field-->
            {% for error in form.Quest6.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}



            {{form.submit()}}
        </form>
        
{% endblock %}
