<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}




{% for survey in survey %}

<a href="/survey/delete/{{survey.id}}" style="color: rgb(255, 217, 0)">DELETE</a> |
<a href="/survey/edit/{{survey.id}}" style="color: rgb(255, 217, 0)" >EDIT</a>  |
<br>

    {{survey.user}} <br>
    {{survey.Quest1}}<br>
    {{survey.Quest2}}<br>
    {{survey.Quest3}}<br>
    {{survey.Quest4}}<br>
    {{survey.Quest5}}<br>
    {{survey.Quest6}}<br>
    {{survey.createdate}}<br>
    <hr style="height:10px">
{% endfor %}
<br> <br>

{% endblock %}