<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}




{% for survey in survey %}

<a href="/survey/delete/{{survey.id}}">delete</a> |
<a href="/survey/edit/{{survey.id}}">edit</a>  |
<br>

    <a href="/survey/{{survey.Id}}">{{survey.id}}</a>
    {{survey.user}} <br>
    {{survey.Quest1}}<br>
    {{survey.Quest2}}<br>
    {{survey.Quest3}}<br>
    {{survey.Quest4}}<br>
    {{survey.Quest5}}<br>
    {{survey.Quest6}}<br>
    {{survey.createdate}}<br>
    <hr>
{% endfor %}
<br> <br>

{% endblock %}