<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<center>
<h4>This is our short documentary where we interviewed students from the Oakland Tech community to hear their thoughts about the school. Students gave feedback and ideas on how to improve Oakland Tech 
</h4>
<hr style="height:15px">
<h2>Click the thumbnail below to watch the short:</h2>

    <a href="https://www.youtube.com/watch?v=VRJiK-kdDb4"><img src="static/youtube.jpg" alt="video" width="500" 
        height="300"></a>

</center>
{% endblock %}